/*.opensdf
/*.sdf
/*.suo
MSICA/*.user
MSICA/L10N/*.mo
MSICA/MSIBuild/*-1.idt
MSICA/MSIBuild/*-2.idt
MSICA/MSIBuild/*-2.idtx
MSICA/MSIBuild/*.Binary-1
MSICA/MSIBuild/*.Binary-2
MSICA/MSIBuild/*.Icon-1
MSICA/MSIBuild/*.Icon-2
MSICA/MSIBuild/*.lst
MSICA/MSIBuild/*.msm
MSICA/temp
MSICALib/*.user
MSICALib/L10N/*.mo
MSICALib/MSIBuild/*-1.idt
MSICALib/MSIBuild/*-2.idt
MSICALib/MSIBuild/*-2.idtx
MSICALib/MSIBuild/*.Binary-1
MSICALib/MSIBuild/*.Binary-2
MSICALib/MSIBuild/*.Icon-1
MSICALib/MSIBuild/*.Icon-2
MSICALib/MSIBuild/*.lst
MSICALib/MSIBuild/*.msm
MSICALib/temp
/ipch
/output
