* text=auto !eol
/MSICA.sln svneol=CRLF#text/plain eol=crlf
MSICA/L10N/sl_SI.po -text
MSICA/MSIBuild/Makefile -text
MSICA/MSIBuild/build_all.bat -text
MSICA/MSIBuild/clean_all.bat -text
MSICA/MSICA.cpp -text
MSICA/MSICA.h -text
MSICA/MSICA.vcxproj -text svneol=unset#text/xml
MSICA/MSICA.vcxproj.filters -text svneol=unset#text/xml
MSICA/res/MSICA.rc -text svneol=unset#unset
MSICA/res/MSICA.rcx -text svneol=unset#unset
MSICA/stdafx.cpp -text
MSICA/stdafx.h -text
MSICALib/L10N/sl_SI.po -text
MSICALib/MSIBuild/Makefile -text
MSICALib/MSIBuild/build_all.bat -text
MSICALib/MSIBuild/clean_all.bat -text
MSICALib/MSICALib.cpp -text
MSICALib/MSICALib.h -text
MSICALib/MSICALib.vcxproj -text svneol=unset#text/xml
MSICALib/MSICALib.vcxproj.filters -text svneol=unset#text/xml
MSICALib/OpCert.cpp -text
MSICALib/OpFile.cpp -text
MSICALib/OpReg.cpp -text
MSICALib/OpSvc.cpp -text
MSICALib/OpTS.cpp -text
MSICALib/OpWLAN.cpp -text
MSICALib/stdafx.cpp -text
MSICALib/stdafx.h -text
include/Debug.props -text svneol=unset#text/xml
include/Release.props -text svneol=unset#text/xml
include/Win32.props -text svneol=unset#text/xml
include/common.props -text svneol=unset#text/xml
include/version.h -text
include/x64.props -text svneol=unset#text/xml
