MSICALib/*.user
MSICALib/L10N/*.mo
MSICALib/msm/*-1.idt
MSICALib/msm/*-2.idt
MSICALib/msm/*-2.idtx
MSICALib/msm/*.Binary-1
MSICALib/msm/*.Binary-2
MSICALib/msm/*.Icon-1
MSICALib/msm/*.Icon-2
MSICALib/msm/*.lst
MSICALib/msm/*.msm
MSICALib/temp
MSITSCA/*.user
MSITSCA/L10N/*.mo
MSITSCA/MSITSCA.Debug.Win32
MSITSCA/MSITSCA.Debug.x64
MSITSCA/MSITSCA.Release.Win32
MSITSCA/MSITSCA.Release.x64
MSITSCA/msm/*-1.idt
MSITSCA/msm/*-2.idt
MSITSCA/msm/*-2.idtx
MSITSCA/msm/*.Binary-1
MSITSCA/msm/*.Binary-2
MSITSCA/msm/*.Icon-1
MSITSCA/msm/*.Icon-2
MSITSCA/msm/*.lst
MSITSCA/msm/*.msm
MSITSCA/res/*.mo
