* text=auto !eol
AMSICA/AMSICA-10.0.sln svneol=CRLF#text/plain eol=crlf
AMSICA/build/AMSICA.props -text svneol=unset#text/xml
AMSICA/build/AMSICALib.vcxproj -text svneol=unset#text/xml
AMSICA/build/AMSICALib.vcxproj.filters -text svneol=unset#text/xml
AMSICA/include/AMSICA.h -text
AMSICA/include/StdAfx.h -text
AMSICA/msm/Makefile -text svneol=unset#text/plain%3B+charset%3DWindows-1250
AMSICA/res/en_GB.po -text
AMSICA/src/AMSICA.cpp -text
AMSICA/src/AMSICAFileOp.cpp -text
AMSICA/src/AMSICATSOp.cpp -text
AMSICA/src/MSICARegOp.cpp -text
AMSICA/src/StdAfx.cpp -text
MSITSCA/L10N/sl_SI.po -text
MSITSCA/MSITSCA.cpp -text
MSITSCA/MSITSCA.h -text
MSITSCA/MSITSCA.vcxproj -text svneol=unset#text/xml
MSITSCA/MSITSCA.vcxproj.filters -text svneol=unset#text/xml
MSITSCA/StdAfx.cpp -text
MSITSCA/StdAfx.h -text
MSITSCA/msm/Makefile -text svneol=unset#text/plain%3B+charset%3DWindows-1250
MSITSCA/res/MSITSCA.rc -text svneol=unset#unset
MSITSCA/res/MSITSCA.rcx -text svneol=unset#unset
